<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no"/>
		<title>欢迎-悠派智能日报系统</title>
		<link href="css/common.css" rel="stylesheet" type="text/css" />
		<link href="flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery-2.1.1.min.js"></script>
		<script src="flatpickr/flatpickr.js"></script>
		<script src="js/common.js"></script>
	</head>
	<body >

		<% include header.ejs %>

		<div class="page_box">

			<% include sliderbar_left.ejs %>

			<div class="page_main">
				<div class="day_time">
					<div class="day_title">
						<p class="tips"><span></span> 号 组员日报
						<!--<a href="JavaScript:;" class="all_daily">查看全部</a>-->
						</p>
					</div>
					<div class="choose_date">
						选择日期：
						<input id="flatpickr-tryme" placeholder="选择日期" class="flatpickr-input" readonly="readonly">
						<a href="JavaScript:;" class="date_daily">搜索</a>
					</div>
				</div>
				<div class="daily_list">
					<%if(dailys.length<1){%>
						<div class="nullinner">你组员今天没有写日报哦！快去催催！</div>
					<%}%>
					<ul>
						<%if(dailys.length>0){%>
							<% for(var i = 0 ; i < dailys.length ; i++){%>
								<li>
									<time>【组员】<%=dailys[i].name%> 【日期】<%=dailys[i].time%></time>
									<div class="daily">
										<p>【部门】<%=dailys[i].department%></p>
										<p><%-dailys[i].inner%></p>
									</div>
								</li>
							<%}%>
						<%}%>
					</ul>
				</div>
			</div>
		</div>

		<script>
			$(function(){
				$("#flatpickr-tryme").flatpickr(); //日期插件
				$(".tips span").text(getDate);
				$(".all_daily").on("click", function(){
					getAlldaily("all")
				});
				$(".date_daily").on("click", function(){
					var setDate = $("#flatpickr-tryme").val();
					getAlldaily(setDate)
					$(".tips span").text(setDate);
				});
	//			getAlldaily(time)
				function getAlldaily(time){
					var str = "";
					var Dom = $(".daily_list ul");
					$.post("/doAllDailys",{
						"time" : time
					},function(result){
						if(result != "-1"){
							Dom.html("");
							$(".daily_list .nullinner").remove();
							for(var i = 0 ; i < result.length; i++){
								var dailys = result[i];
								dailys.inner = HTMLEncode(dailys.inner);
								str += "<li><time>【组员】"+ dailys.name +" 【日期】"+ dailys.time +" </time>" +
										"<div class=daily><p>【部门】"+ dailys.department +"</p>" +
										"<p>"+ dailys.inner +"</p> </div></li>";
							}
							Dom.html(str);
						}else{
							alert("系统异常，请稍后再试！")
						}
						if(result.length == 0 ){
							$(".daily_list").append("<div class=nullinner>没有日报内容！</div>");
						}
					});
				}
				function HTMLEncode(html) {
					var temp = document.createElement ("div");
					(temp.textContent != null) ? (temp.textContent = html) : (temp.innerText = html);
					var output = temp.innerHTML;
					temp = null;
					return output;
				}
			});
		</script>
	</body>
</html>
