<!-- header-->
<div class="navbar">
	<h3>悠派智能日报系统</h3>
	<ul>
		<li><span>你好 ~ <i class="name"><%=students.name%></i></span></li>
		<li><a href="/onlogin" class="onlogin">退出</a></li>
	</ul>
</div>
<!-- header end-->