<!-- sidebar_left-->
<div class="sidebar_left">
	<div class="sidebar_inner">
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/write">写日报</a></li>
			<li><a href="/dailys">历史记录</a></li>
			<li><a href="/edit">修改资料</a></li>
			<%if(students.power > 1){%><li><a href="/alldailys">显示组员日报</a></li><%}%>
		</ul>
	</div>
</div>
<!-- slider_left emd-->